
body{
  font-family: "Georgia", sans-serif !important;
}



@media (max-width: 1750px) {
  .contactDiv{
    display: none !important;
  }
}

#callNow{
    left: 1500px;
    top: 450px;
    height: 85px;
    width: 300px;
  }
  * {
    -webkit-overflow-scrolling: touch
}
  #arrow{
    margin-left: 3% !important;
    position: absolute;
    margin-top:auto !important;
  }
  #sendEmail{
    left: 1500px;
    top: 550px;
    height: 85px;
    width: 300px;
  }
  #contactform123{
    height: 1150px !important;
  }
 
  iframe.body{
    overflow:  hidden !important;
  }
  iframe {
    height: 100% !important;
    width: 100% !important;
    border: none;
    display: block !important;
  }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 80px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  @media (max-width: 737px) {
    .contactDiv{
      display: none;
    }
  #boatH1{
    font-size: 32px !important;
    
  }
  #arrow{
    margin-left: 7px !important;
    font-size: 35px !important;
    position: absolute;
    
  }
  .offerCard{
    margin-bottom: 5px !important;
   
    
  }
  #jssor_1{
    margin-top: 5px !important;
  }
  #priceDiv{
    padding-right: 10px !important;
    
  }
  #layoutImg1{
    height: 129px !important;
  }
  #layoutImg2{
    height: 110px !important;
  }
  #layoutImg3{
    height: 129px !important;
    
  }
  #layoutImg4{
    height: 114px !important;
    margin-left: 3px !important;
  }
  #layoutImg5{
    height: 80px !important;
    margin-left: 40px !important;
    margin-bottom: 6px !important;
  }
  #layoutImg6{
    height: 114px !important;
    
  }
  #layoutImg15{
    height: 144px !important;
    
  }
  #layoutImg16{
    height: 144px !important;
    
  }
  #layoutImg10{
    height: 95px !important;
    
  }
  #layoutImg11{
    height: 87px !important;
    margin-left: 16px !important;
    
  }
  #layoutImg12{
    height: 88px !important;
    margin-left: 13px !important;
  }
  #layoutImg7{
    height: 90px !important;
    margin-bottom: 4px !important;
    
  }
  #layoutImg8{
    height: 87px !important;
    margin-left: 13px !important;
    margin-bottom: 4px !important;
    
  }
  #layoutImg9{
    height: 86px !important;
    margin-left: 20px !important;
    margin-bottom: 4px !important;
  }
  #layoutImg17{
    height: 130px !important;
    
    
  }
  #layoutImg18{
    height: 130px !important;
    
  }
  #layoutImg13{
    height: 106px !important;
    
    
  }
  #layoutImg14{
    height: 110px !important;
    margin-left: 4px !important;
    
  }
 
}
#goBackBtn{
  border-radius: 12px;
  transition: all 0.55s ease-out !important;
  border: 0px solid;
}
#goBackBtn:hover{
  
  background: linear-gradient(to right, #0d2b50,#255fac ) !important;
  border: 0px solid;
}
@media (max-width: 668px) {
  .contactDiv{
    display: none;
  }
  #contactform123{
    height: 1150px !important;
  }

  #goBackBtn{
    margin-right: 0px !important;
  }
  .sideInfoCard {
    height: 0px !important;
    width: 0px !important;
  }
  #boatH1{
    font-size: 27px !important;
    
  }
  #arrow{
    margin-left: 3% !important;
    font-size: 31px !important;
    position: absolute;
    
  }
  .offerCard{
    margin-bottom: 5px !important;
  }
  #jssor_1{
    margin-top: 5px !important;
  }
}